{
  "presets": [
  "react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      "loose": true,
      "modules": false
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}